<xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <providers resource="providers.config"/> <context id="SqlMapDao" default="true">
  <database>
    <provider name="MySql"/>
    <dataSource name="ibatisDemo" connectionString="Database=test;Data Source=localhost;User Id=root;Password=root"/>
  <database>
<daoSessionHandlers>
<daoSessionHandler id="SqlMap">
  <property name="resource" value="sqlMap.config"/>
  <daoSessionHandler>
 <daoSessionHandlers>
  <daoFactory>
    <dao interface="MVCWebApplication.DAL.Interfaces.IUsers,MVCWebApplication.DAL" implementation="MVCWebApplication.DAL.Impl.UsersDAO,MVCWebApplication.DAL"/>
  <daoFactory>
 <context>
<daoConfig>