#capturefor(title)
EasyUI Demo
#end

#capturefor(head)
<script type="text/javascript">  
function resize(){
    $('#w').window({
	    title: '示例窗口',
	    width: 600,
	    modal: true,
	    shadow: false,
	    closed: false,
	    height: 300
    });
}
function open1(){
	$('#w').window('open');
}
function close1(){
	$('#w').window('close');
}
function test(){
	$('#test').window('open');
}
(function(){
$(document).ready(function(){
    $("#dd").click(function(){
    
            $(this).css({
        width: function(index, value) {
        return parseFloat(value) * 1.2;
      }, 
      height: function(index, value) {
        return parseFloat(value) * 1.2;
      }

    });

    
    });


});

})();
</script>  
#end
 <h1>窗口</h1>
	<div>
		<a href="javascript:void(0)" onclick="resize()">resize</a>
		<a href="javascript:void(0)" onclick="open1()">open</a>
		<a href="javascript:void(0)" onclick="close1()">close</a>
		<a href="javascript:void(0)" onclick="test()">test</a>
	</div>
	<div id="w" class="easyui-window" title="" iconCls="icon-save" style="width:500px;height:200px;padding:5px;background: #fafafa;">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px;background:#fff;border:1px solid #ccc;">
				jQuery EasyUI framework help you build your web page easily.
				<br/><br/>
				click <a href="#" onclick="test()">here</a> to popup another window.
			</div>
			<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
				<a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:close1(0)" onclick="resize()">确定</a>
				<a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onclick="resize()">取消</a>
			</div>
		</div>
	</div>
	<div id="test" class="easyui-window" closed="true" modal="false" title="测试窗口" style="width:300px;height:100px;"></div>
	<div id="dd" style=" border-style:solid; height:10em; width:10em; border-width:1px"></div>